Repository elastic/apm-agent-dotnet, pull requests merged in 2019-10, with the labels that each got.

#523 ci(jenkins): reuse top level agent
  Jenkinsfile
Labels: automation, ci

#575 [docs] Build release notes to documentation
  CHANGELOG.asciidoc
  docs/release-notes.asciidoc
Labels: docs

#576 [1.x][docs] Build release notes to documentation
  CHANGELOG.asciidoc
  docs/release-notes.asciidoc
Labels: docs

#574 [docs] Documentation restructure
  docs/configuration.asciidoc
  docs/index.asciidoc
  docs/intro.asciidoc
  docs/metrics.asciidoc
  docs/performance-tuning.asciidoc
  docs/setup.asciidoc
  docs/supported-technologies.asciidoc
Labels: docs

#570 Implement support for global labels
  docs/configuration.asciidoc
  src/Elastic.Apm.AspNetFullFramework/FullFrameworkConfigReader.cs
  src/Elastic.Apm/BackendComm/CentralConfigFetcher.cs
  src/Elastic.Apm/Config/AbstractConfigurationReader.cs
  src/Elastic.Apm/Config/AbstractConfigurationWithEnvFallbackReader.cs
  src/Elastic.Apm/Config/ConfigConsts.cs
  src/Elastic.Apm/Config/ConfigSnapshotFromReader.cs
  src/Elastic.Apm/Config/EnvironmentConfigurationReader.cs
  src/Elastic.Apm/Config/IConfigurationReader.cs
  src/Elastic.Apm/Report/PayloadSenderV2.cs
  test/Elastic.Apm.AspNetFullFramework.Tests/DbSpanTests.cs
  test/Elastic.Apm.AspNetFullFramework.Tests/GlobalLabelsTests.cs
  test/Elastic.Apm.AspNetFullFramework.Tests/TestsBase.cs
  test/Elastic.Apm.Tests.MockApmServer/MetadataDto.cs
  test/Elastic.Apm.Tests/ConfigTests.cs
  test/Elastic.Apm.Tests/ConstructorTests.cs
  test/Elastic.Apm.Tests/Mocks/MockConfigSnapshot.cs
Labels: [zube]: In Review

#578 [1.x][docs] Documentation restructure (#574)
  docs/configuration.asciidoc
  docs/index.asciidoc
  docs/intro.asciidoc
  docs/metrics.asciidoc
  docs/performance-tuning.asciidoc
  docs/setup.asciidoc
  docs/supported-technologies.asciidoc
Labels: docs
