Repository elastic/apm-agent-dotnet, pull requests merged in 2019-05, with the labels that each got.

#217 [APM-CI][.NET] Remove missing sln when running the appveyor stage
  Jenkinsfile
Labels: automation

#221 [docs] Fix duplication
  docs/index.asciidoc
  docs/intro.asciidoc
  docs/release-notes.asciidoc
Labels: bug, docs

#232 [APM-CI][.NET] Support Windows core and Framework flows
  .ci/linux/build.sh
  .ci/linux/convert.sh
  .ci/linux/deploy.sh
  .ci/linux/release.sh
  .ci/linux/test-tools.sh
  .ci/linux/test.sh
  .ci/linux/tools.sh
  .ci/windows/convert.ps1
  .ci/windows/dotnet.bat
  .ci/windows/msbuild.bat
  .ci/windows/test-tools.ps1
  .ci/windows/test.bat
  .ci/windows/tools.ps1
  ElasticApmAgent.sln
  Jenkinsfile
  README.md
Labels: .NET Core, .NET Framework, automation
