Repository elastic/apm-agent-dotnet, pull requests merged in 2019-11, with the labels that each got.

#580 [docs] fix pull link
  docs/release-notes.asciidoc
Labels: docs

#581 [1.x][docs] fix pull link (#580)
  docs/release-notes.asciidoc
Labels: docs

#594 [apm-ci] retry .NET build stage when environmental issues
  Jenkinsfile
Labels: automation, bug, ci

#615 [jjbb] check_paths_for_matches.py not required anymore
  .ci/bin/check_paths_for_matches.py
Labels: automation, ci

#577 Support getting CAPTURE_BODY and TRANSACTION_MAX_SPANS options from central config
  docs/configuration.asciidoc
  sample/AspNetFullFrameworkSampleApp/Controllers/HomeController.cs
  sample/SampleAspNetCoreApp/Controllers/HomeController.cs
  src/Elastic.Apm.AspNetCore/ApmMiddleware.cs
  src/Elastic.Apm.AspNetCore/Consts.cs
  src/Elastic.Apm.AspNetCore/DiagnosticListener/AspNetCoreDiagnosticListener.cs
  src/Elastic.Apm.AspNetCore/Extensions/IConfigurationReaderExtentions.cs
  src/Elastic.Apm.AspNetCore/Extensions/TransactionExtentions.cs
  src/Elastic.Apm.AspNetCore/Helpers/ExceptionFilter.cs
  src/Elastic.Apm/BackendComm/CentralConfigFetcher.cs
  src/Elastic.Apm/Config/AbstractConfigurationReader.cs
  src/Elastic.Apm/Config/AbstractConfigurationWithEnvFallbackReader.cs
  src/Elastic.Apm/Config/ConfigStore.cs
  src/Elastic.Apm/Config/EnvironmentConfigurationReader.cs
  src/Elastic.Apm/Model/Error.cs
  src/Elastic.Apm/Model/ExecutionSegmentCommon.cs
  src/Elastic.Apm/Model/Span.cs
  src/Elastic.Apm/Model/Transaction.cs
  test/Elastic.Apm.AspNetCore.Tests/BodyCapturingTests.cs
  test/Elastic.Apm.AspNetFullFramework.Tests/CentralConfigTests.cs
  test/Elastic.Apm.AspNetFullFramework.Tests/DbSpanTests.cs
  test/Elastic.Apm.AspNetFullFramework.Tests/SampleRate0Tests.cs
  test/Elastic.Apm.AspNetFullFramework.Tests/TestsBase.cs
  test/Elastic.Apm.Tests.MockApmServer/Controllers/AgentsConfigController.cs
  test/Elastic.Apm.Tests.MockApmServer/MockApmServer.cs
  test/Elastic.Apm.Tests.MockApmServer/ReceivedData.cs
  test/Elastic.Apm.Tests/ApiTests/ApiTests.cs
  test/Elastic.Apm.Tests/Mocks/MockConfigSnapshot.cs
  test/Elastic.Apm.Tests/TestHelpers/EnumerableTestExtensions.cs
  test/Elastic.Apm.Tests/TestHelpers/EnumerableTestExtensionsTests.cs
  test/Elastic.Apm.Tests/TestHelpers/LoggingTestBase.cs
Labels: docs

#621 Make IsConfigured thread safe
  src/Elastic.Apm/Agent.cs
Labels: bug
